Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 Create a markdown cell to list data science languages
 1. Python
 2. R
 3. Sql
 4. Julia

 Create a markdown cell to list data science libraries
 1. Numpy
 2. Pandas
 3. Matplotlib
 4. Scikit-Learn
 5. Tenserflow

Data Science Tools

Jupyter Notebook

Visual Studio Code

RStudio

Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
2+5

7

In [6]:
2*5

10

In [7]:
10/5

2.0

In [10]:
 #This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

Author
Shubhansh